# Data Cleaning and Preparation

### Taking a look at the data, and preparing it for insertion into a database.

In [1]:
import pandas as pd
import json

In [2]:
with open('ICT_Bachelors_ENG.json') as f:
    data = json.load(f)

courses = [item['data']['realizationById'] for item in data]
courses_df = pd.json_normalize(courses)

courses_df.head()

,id,code,title,credits,degreeProgrammes,studentGroups,__typename,objective,teachingMethods,content,...,seats.min,seats.max,seats.__typename,createdFromProgramme.id,createdFromProgramme.title,createdFromProgramme.code,createdFromProgramme.link,createdFromProgramme.__typename,office,createdFromProgramme
0,TTC2070-3016,TTC2070-3016,Project Management and Practices,4.0,"[{'id': '82940', 'title': 'Bachelor's Degree P...","[{'id': '119696', 'code': 'TTV22S5', 'title': ...",Realization,Purpose:\r\nWorking in project format is very ...,- Flipped Learning \r\n- independent study\r\n...,- basics of project work\r\n- roles of actors ...,...,20.0,70.0,Seats,50107,Bachelor's Degree Programme in Information and...,TTV2022SS,,Curriculum,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TTC2040-3019,TTC2040-3019,Introduction to IoT systems,3.0,"[{'id': '82940', 'title': 'Bachelor's Degree P...","[{'id': '104696', 'code': 'TIC22S1', 'title': ...",Realization,Purpose and objectives:\r\nYou recognize the p...,,Parts of IoT value chain\r\n- Sensing solution...,...,20.0,35.0,Seats,50088,Bachelor's Degree Programme in Information and...,TIC2022SS,,Curriculum,NaN,NaN
3,HTGP0060-3005,HTGP0060-3005,Collaboration Tools,2.0,"[{'id': '5158', 'title': 'Bachelor's Degree Pr...","[{'id': '131501', 'code': 'HTK23S1', 'title': ...",Realization,Software development is teamwork. In order to ...,- Lectures / real-time excercises in auditoriu...,Tools for communication\r\nTools for task mana...,...,20.0,100.0,Seats,51876,Bachelor's Degree Programme in Business Inform...,HTG2023SS,,Curriculum,NaN,NaN
4,HTGP0500-3005,HTGP0500-3005,Digital Photography and Video Production,5.0,"[{'id': '5158', 'title': 'Bachelor's Degree Pr...","[{'id': '104065', 'code': 'HTG22S1', 'title': ...",Realization,The object of the course\r\nDo you want to kno...,The primary mode of delivery for this course a...,In the course you will be focused on the basic...,...,20.0,30.0,Seats,49926,Bachelor's Degree Programme in Business Inform...,HTG2022SS,,Curriculum,NaN,NaN

In [3]:
courses_df.dropna(how='all', inplace=True)
print(f'Courses after dropping empty rows: {courses_df.shape[0]}')

Courses after dropping empty rows: 159

In [4]:
courses_df.columns

Index(['id', 'code', 'title', 'credits', 'degreeProgrammes', 'studentGroups',
       '__typename', 'objective', 'teachingMethods', 'content',
       'learningMaterial', 'teachingLanguage', 'teachers', 'teachingMethod',
       'qualifications', 'evaluation', 'employerConnections', 'examSchedule',
       'internationalConnections', 'workload', 'contentScheduling',
       'informationOfCourse', 'furtherInformation', 'approveRejectDescription',
       'evaluationScale', 'curriculum', 'relatedOffering', 'educationalFields',
       'timing.start', 'timing.end', 'enrollment.start', 'enrollment.end',
       'office.id', 'office.code', 'office.title', 'office.__typename',
       'unit.id', 'unit.code', 'unit.title', 'unit.__typename',
       'teachingMethodFull.online', 'teachingMethodFull.contact',
       'teachingMethodFull.__typename', 'seats.min', 'seats.max',
       'seats.__typename', 'createdFromProgramme.id',
       'createdFromProgramme.title', 'createdFromProgramme.code',
       'createdFromProgramme.link', 'createdFromProgramme.__typename',
       'office', 'createdFromProgramme'],
      dtype='object')

Useful columns in the data:

- id
- code
- title
- credits
- __typename
- objective
- teachingMethods
- content
- unit.title
- learningMaterial
- teachers
- teachingMethod
- teachingMethodFull.online
- teachingMethodFull.contact
- qualifications
- evaluation
- employerConnections
- examSchedule
- internationalConnections
- workload
- contentScheduling
- informationOfCourse
- furtherInformation
- evaluationScale
- seats.min
- seats.max
- relatedOffering

In [5]:
columns_to_keep = [
    'id', 'code', 'title', 'credits', '__typename', 'objective', 'teachingMethods', 
    'content', 'unit.title', 'learningMaterial', 'teachers', 'teachingMethod', 
    'teachingMethodFull.online', 'teachingMethodFull.contact', 'qualifications', 
    'evaluation', 'employerConnections', 'examSchedule', 'internationalConnections', 
    'workload', 'contentScheduling', 'informationOfCourse', 'furtherInformation', 
    'evaluationScale', 'seats.min', 'seats.max', 'relatedOffering'
]

# Drop other columns
columns_to_drop = [col for col in courses_df.columns if col not in columns_to_keep]
courses_df = courses_df.drop(columns=columns_to_drop)

In [6]:
courses_df.rename(columns={'__typename': 'type_name', 'teachingMethods': 'teaching_methods', 'teachingMethod': 'teaching_method',
                            'learningMaterial': 'learning_material', 'unit.title': 'unit_title', 'teachingMethod': 'teaching_method',
                            'teachingMethodFull.online': 'teaching_method_online', 'teachingMethodFull.contact': 'teaching_method_contact',
                            'employerConnections': 'employer_connections', 'examSchedule': 'exam_schedule', 'internationalConnections': 'international_connections',
                            'contentScheduling': 'content_scheduling', 'informationOfCourse': 'course_information', 'furtherInformation': 'further_information',
                            'evaluationScale': 'evaluation_scale', 'seats.min': 'min_seats', 'seats.max': 'max_seats', 'relatedOffering': 'related_offering'}
                            , inplace=True)

Checking to see if `id` and `code` are always the same, if they are we can drop `id` and use `code` as the primary key:

In [7]:
rows_where_unequal = len(courses_df[courses_df['id'] != courses_df['code']])
print(f'Number of rows where id and code are not equal: {rows_where_unequal}')

Number of rows where id and code are not equal: 0

In [8]:
courses_df.drop(columns=['id'], inplace=True)

Finding out which columns contain objects, and making them into their own dataframes:

In [9]:
object_cols = courses_df.columns[courses_df.map(lambda x: isinstance(x, (list, dict))).any()].tolist()

print(f'Object columns: {object_cols}')

Object columns: ['teachers', 'related_offering']

In [10]:
teachers_data = []
related_offering_data = []

for index, row in courses_df.iterrows():
    teachers = row['teachers']
    if teachers is not None:
        for teacher in teachers:
            teachers_data.append({'name': teacher['name'], 'type': teacher['__typename'], 'course_code': row['code']})

    related_offerings = row['related_offering']
    if related_offerings is not None:
        for related_offering in related_offerings:
            related_offering_data.append({'code': related_offering['code'], 'title': related_offering['title'],
                                          'link': related_offering['link'], 'type': related_offering['__typename'],
                                          'course_code': row['code']})

degree_programmes_df = pd.DataFrame(teachers_data)
student_groups_df = pd.DataFrame(related_offering_data)

In [11]:
degree_programmes_df.head()

               name     type    course_code
0   Marko RintamÃ¤ki  Teacher   TTC2070-3016
1  Jouko Kotkansalo  Teacher   TTC2040-3019
2   Juha-Tapio Teno  Teacher  HTGP0060-3005
3  Kalle Raijonkari  Teacher  HTGP0500-3005
4     Jari Kuskelin  Teacher  HTGP0500-3005

In [12]:
student_groups_df.head()

,code,title,link,type,course_code
0,TTK20S1OTL,Ohjelmistotuotanto ja laadunvarmistus,,Curriculum,TTC2070-3016
1,TTK21KOHJ,Ohjelmistoalan osaajaksi,,Curriculum,TTC2070-3016
2,TTK22KOHJ,Ohjelmistoalan osaajaksi,,Curriculum,TTC2070-3016
3,EXSTBUSINESSINFORMATIONTECH,Exchange Studies: Business Information Technol...,,Curriculum,HTGP0500-3005
4,STUDYABROAD,Incoming students - Special Study Programmes i...,,Curriculum,HTGP0500-3005

Dropping `teachers` and `related_offering` from the course data, as they now have their own dataframes.

In [13]:
courses_df.drop(columns=['teachers', 'related_offering'], inplace=True)

In [14]:
pd.set_option('display.max_columns', None)
courses_df.head()

,code,title,credits,type_name,objective,teaching_methods,content,learning_material,teaching_method,qualifications,evaluation,employer_connections,exam_schedule,international_connections,workload,content_scheduling,course_information,further_information,evaluation_scale,unit_title,teaching_method_online,teaching_method_contact,min_seats,max_seats
0,TTC2070-3016,Project Management and Practices,4.0,Realization,Purpose:\r\nWorking in project format is very ...,- Flipped Learning \r\n- independent study\r\n...,- basics of project work\r\n- roles of actors ...,Materials in the Gitlab environment.\r\n\r\nht...,Online,,,- visiting lecturers\r\n- projektiharjoitus,https://ttc2070.pages.labranet.jamk.fi/en/7-Ex...,-,One credit (1 Cr) corresponds to an average of...,After course info-day you can proceed freely d...,http://ttc2070.pages.labranet.jamk.fi/en,avoinExecution of course relays heavily on an ...,Pass/Fail,School of Technology,4,0,20.0,70.0
2,TTC2040-3019,Introduction to IoT systems,3.0,Realization,Purpose and objectives:\r\nYou recognize the p...,,Parts of IoT value chain\r\n- Sensing solution...,,Contact,Basics in Programming\r\nData Networks\r\nUse ...,,,,,,,,,0-5,School of Technology,0,3,20.0,35.0
3,HTGP0060-3005,Collaboration Tools,2.0,Realization,Software development is teamwork. In order to ...,- Lectures / real-time excercises in auditoriu...,Tools for communication\r\nTools for task mana...,Course material written by the teacher as well...,Contact,Basic computer skills are required. You must b...,,,,,Approximately 54 hours.,,,Avoin amk 10 (included in the total capacity),Pass/Fail,School of Business,0,2,20.0,100.0
4,HTGP0500-3005,Digital Photography and Video Production,5.0,Realization,The object of the course\r\nDo you want to kno...,The primary mode of delivery for this course a...,In the course you will be focused on the basic...,"Long B. Complete Digital Photography, 2018\r\n...",Contact,Basics for digital media -course needs to be p...,,Possible special lectures from the experts con...,There will be no exam during this course. The ...,,Course workload is 5 ECTS = approx. 135 hours....,,This course is focused for the degree students...,Edufutura 5\r\nAvoin amk 5,0-5,School of Business,0,5,20.0,30.0
5,HTGP0120-3002,Business Basics,2.0,Realization,Understanding the business is essential for ev...,"This implementation utilizes reverse learning,...",Marketing Basics\r\nFinancial Management\r\nFi...,- Teacher's materials and slides\r\n- 1336/199...,Contact,-,,,The final exam is on week 43. On first contact...,,One credit corresponds to an average of 27 hou...,Weekly lessons / workshops.,,The course grade is determined as follows:\r\n...,0-5,School of Business,0,2,20.0,80.0